{% extends 'index.html' %}

{% block navbar %}
    <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
            <a class="nav-link" href="{{url_for('home')}}" style="color: white;">Home</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="{{url_for('comment')}}" style="color: white; padding-left: 30px;">Comment Analysis</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="{{url_for('video')}}" style="color: yellow; padding-left: 30px;">Video Analysis</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('index')}}" style="color: white; padding-left: 30px;">Logout</a>
        </li>
    </ul>
{% endblock %}

{% block content %}
    <div style="margin-top: 50px; min-height: 1000px; height: auto; background-color: rgba(0, 0, 0, 0.655);">
        <div class="container-fluid" style="margin-top: -50px;">
            <div class="contact_section_2">
                <div class="row">
                    <div class="col-md-12">

                        <center>
                            <form action="{{url_for('video')}}" method="post" style="background-color: rgba(36, 158, 164, 0.879); width: 800px; border-radius: 10px; margin-top: 20px;">
                                <h1 class="contact_taital" style="color: rgba(0, 0, 0, 0.849);"><br>Youtube Video Sentiment Analysis</h1>

                                <div class="col-10">
                                    <input type="url" name="url" class="mail_text" placeholder="Enter Youtube URL here!" required>
                                    
                                    <button type="submit" class="btn btn-success" style="margin-top: 20px; width: 30%;">Submit</button><br><br>
                                </div>
                            </form><br><br>
                        </center>

                        {% if pie_chart %}
                            <center>
                                <div style="width: fit-content; padding: 20px; background-color: rgb(97, 161, 32);">
                                    <h2>Sentiment Analysis for video:</h2>
                                    <img src="data:image/png;base64,{{ pie_chart }}" alt="Sentiment Pie Chart">
                                </div>
                            </center>
                        {% endif %}
            
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}